// Specific CSS for your home-page
.banner {
  height: auto;
  width: 100%;
}

.banner-text {
  color: $dark-yellow;
  font-family: $headers-font;
  font-size: 50px;
  position: absolute;
  top: 23%;
  left: 17%;
}

.card-formation {
  border-color: $medium-yellow;
  border-radius: 10px;
  width: auto;

}

.button-orange {
  background-color: $orange;
  color: $green;
  border-radius: 25px;
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration: none;
  padding: 20px;


    &:hover{
      color: $orange;
      background-color: $light-yellow;
      text-decoration: none;

    }
}
