<div class="footer container-fluid d-flex justify-content-between" >
  <%= link_to root_path do %>
    <%= image_tag "logo.png", alt: "Logo-navbar", class:"footer-img" %>
   <% end %>

   <%= link_to "Laissez moi un avis !", "https://share.google/Q6zykvtKFN4ubh83G" , class: "nav-link nav-text mx-2 mt-4 text-end" %>

</div>
