<div class="container">
  <h1 class="my-5">Mes prestations & Tarifs</h1>
    <div class="row">
      <div class="col-9">
       <h3 class="mb-3">Mon cadre d’accompagnement</h3>
         <p> J’accompagne exclusivement des personnes bien portantes, dans une démarche de prévention et de bien-être.
      Je ne pose aucun diagnostic et ne prends pas en charge de pathologies. Si nécessaire, l’accompagnement se fait en lien avec une équipe pluridisciplinaire.</p>
      </div>
    </div>

    <div class="my-5">
      <div class="background my-4">
        <h4 class="text-center mb-3">Etape 1 : L'appel découverte</h4>
          <p class="text-center"> <strong>Durée : 15/20 minutes - Format : Appel - Tarif : Offert</strong> </p>
          <p>Cet appel a pour but d'échanger sur le contenu de l’accompagnement, son déroulement, les problématiques à travailler etc
            Je m'assure que je suis en mesure de vous accompagner selon votre problématiques et vos envies.
            Si oui et si vous souhaitez aller plus loin  alors nous pourrons convenir d'un créneau pour effectuer le bilan initial.</p>
      </div>

    <div class="background  my-4 ">
        <h4 class="text-center mb-3">Etape 2 : Le bilan initial</h4>
          <p class="text-center"> <strong>Durée : 30 à 45 minutes - Format : Visio ou présentiel - Tarif : 40 €</strong></p>
          <p>  Ce premier rendez-vous permet : de faire connaissance, d’échanger sur vos attentes, de poser un cadre clair, de vérifier si un accompagnement est adapté.</p>
          <p> Vous repartez avec un carnet alimentaire, un plan d’action, des objectifs réalistes que nous aurons fixés ensemble, et un prochain rendez-vous pour bénéficier d'un suivi régulier motivant.</p>
      </div>

      <div class="background my-4">
          <h4 class="text-center mb-3">Etape 3 : Programme d'accompagnement personnalisé - 3 mois </h4>
            <p class="text-center" > <strong>Durée : 3 mois - Format : Appel ou visio - Tarif : 120 € / mois</strong> </p>
            <p>Ce programme comprend :
                <li class="mx-3">Un suivi hebdomadaire de 15 minutes ou 30 minutes tous les 15 jours</li>
                <li class="mx-3">Rendez-vous en visio ou par téléphone</li>
                <li class="mx-3">Analyse et accompagnement via un carnet alimentaire</li>
                <li class="mx-3">Soutien illimité par WhatsApp ou SMS</li> </p>
              <p> <strong>Objectifs :</strong>
                <li class="mx-3">retrouver de l’énergie,</li>
                <li class="mx-3">apaiser la relation à l’alimentation,</li>
                <li class="mx-3">réduire le stress,</li>
                <li class="mx-3">retrouver confiance et élan de vie</li> </p>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-3"></div>
      <div class="col-9">
        <h3 class="d-flex justify-content-end mb-3"> Que se passe t-il à la fin des 3 premiers mois ?</h3>
        <p> Vos objectifs sont atteints, vous vous sentez prêt.e à continuer en autonomie : c’est super !
        Mon accompagnement s’arrêtera ici mais n’hésitez pas à me donner des nouvelles de votre évolution, ce sera toujours avec plaisir.</p>
        <p>Vous sentez déjà un changement mais vous voulez continuer l’accompagnement encore un peu ? Vous aurez la possibilité de prendre un mois de suivi en plus au tarif de 150 euros/mois, sans engagement.  Cette formule est renouvelable autant de fois que nécéssaire mais dans ce cas, je vous conseillerai de prendre la formule suivante. A vous de juger !
        </p>
        <p class=mb-5>Vous voyez l’effet positif de l’accompagnement et vous souhaitez le renouveler pour continuer d’ancrer votre mieux être ? Vous pouvez renouveler l'accompagnemt de 3 mois.</p>
       </div>

       <div class="container text-center my-5">
        <%= link_to "Je souhaite prendre rendez-vous", prendrerdv_path, class:"button-orange" %>
      </div>
    </div>

    <div class="background-col my-5">
        <h3 class="pt-5 d-flex justify-content-center mb-3">Ateliers collectifs</h3>
        <p class="d-flex justify-content-center">Je propose également des ateliers collectifs sur des thèmes liés à la nutrition et respiration :
         <li class="d-flex justify-content-center"> - l' assiette santé</li>
        <li class="d-flex justify-content-center">- décrypter les étiquettes alimentaires</li>
        <li class="d-flex justify-content-center">- la gestion du stress</li>
        <li class="d-flex justify-content-center">- les glucides</li>
        </p>
        <p class="d-flex justify-content-center pb-5"> <strong>Formats : présentiel – petits groupes. Sur Toulouse et alentours !</strong></p>

       </div>
</div>
