.footer {
  background:$green;
  height: 70px;
  position: sticky;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.footer-img {
  width: 100px;
  background-size: cover;
  height: 70px;
  width: 100px;


}

@media (max-width: 768px) {
  .footer-img {
    display: none;
  }
}



.footer-text{
  color: $light-yellow;
  text-decoration: none;
  align-self: center;
  color:$light-yellow;


    &:hover{
      color: $orange;

    }
}
