.navbar-lewagon {
  background:$green;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-text{
  color: $light-yellow;
  display: flex;

    &:hover{
      color: $orange;

    }
}

.nav-button-orange {
  background-color: $orange;
  color: $green;
  border-radius: 25px;
  padding-top: 5%;
  padding-bottom: 5%;


    &:hover{
      color: $orange;
      background-color: $light-yellow;
    }
}

.navbar-lewagon .navbar-brand img {
  background-size: cover;
  height: 70px;
  width: 100px;
  margin-left: 10%;
  position:sticky;
  top: 0;
  z-index: 1000;

}


.navbar-home-fixed {
  position: fixed;
  width: 100%;
}


/* Menu desktop */
.nav-links {
  display: flex;
  gap: 1rem;
}


.burger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: $orange;
   &:hover{
      color: $light-yellow;
    }

}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position:top;
    top: 60px;
    right: 0;
    background: $green;
    width: 100%;
    padding: 1rem;
  }

  .nav-links.active {
    display: flex;
  }
}
