.banner {
position: relative;

}

.banner-home {
  width: 100%;
}

.banner-home-text {
  font-size: 50px;
  position: absolute;
  top: 35%;
  left: 17%;
}


@media (max-width: 768px) {
  .banner-home-text {
    display: none;
  }
}



.banner-rdv {
  width: 100%;
  position: relative;
}


.banner-rdv-text {
  font-size: 35px;
  position: absolute;
  bottom: 35%;
  left: 10%;

}

@media (max-width: 768px) {
  .banner-rdv-text {
    display: none;
  }
}

.banner-contact{
  width: 100%;
  height: 100%;
  position: relative;

}

@media (max-width: 768px) {
  .banner-contact {
    display: none;
  }
}
