.card-formation {
  border-color: $green;
  border-radius: 20px;
}

.card-formation2 {
  border-color: $orange;
  border-radius: 20px;
}
.card-formulaire {
  border-color: $green;
  border-radius: 10px;
  width: auto;

}
