.card-formation {
  border-color: $green;
  border-radius: 20px;
}

.card-formation2 {
  border-color: $orange;
  border-radius: 20px;
}

.card-presta {
  border-color: $green;
  background-color: $light-yellow;
  border-radius: 30px;
  padding: 2%;
  margin-left: 25%;
  margin-right: 25%;
}

.card-formulaire {
  border-color: $green;
  border-radius: 10px;
  width: auto;

}

.background {
  background-color: $green-light;
  border-color: $green;
  border-radius: 30px;
  padding: 4%;
  margin-left: 10%;
  margin-right: 10%;
}

.background-col {
  background-color: $green-light;
  border-color: $green;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 2%;
}

.background-formation {
  background-color: $green-light;
  border-color: $green;
  border-radius: 20px;
  padding: 3%;

}

.imgV {
border-radius: 100%;
width: 300px;

}

.imgV1 {
height: 400px;
width: 400px;
padding: 10%;
border-radius: 30%;
margin-top: 10%
}

@media (max-width: 768px) {
  .imgV1 {
    display: none;
  }
}

.pstrong {
  color: $green;
}
